extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Sergio Barajas

  
        p.lead.text-light
          | Full Stack JavaScript Developer.

        
        .portfolio-bio
          p
          | I have a strong full stack development skillset that would make me an asset to any company in a development role. I am a highly capable individual and would bring value to any technical team due to my skillset, and ability to quickly learn new skills. Please check out some of the projects I've completed, or feel free to visit my Github to see a full list of projects! 

      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li Express
          li Node
          li Vanilla Javascript
          li JQuery
          li CSS 
          li HTML
          li JSON
          li AJAX
          li Pug/Jade 
        h6 Contact Info

        ul
          li 555-555-1234
          li email@gmail.com

        //- a.button.expanded(href='TBD',target="_blank") LinkedIn
        a.button.expanded(href='https://github.com/serg510', target="_blank") GitHub
        //- a.button.expanded(href='TBD',target="_blank") Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  